{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>ფილმის დამატება</h2>

    <form method="post">
        <div class="mb-3">
            <label>სათაური</label>
            <input type="text" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>ჟანრი</label>
            <select name="genre" class="form-select" required>
                <option value="">აირჩიე ჟანრი</option>
                {% for g in genres %}
                <option value="{{ g }}">{{ g }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>პოსტერი (URL)</label>
            <input type="text" name="poster" class="form-control">
        </div>

        <div class="mb-3">
            <label>აღწერა</label>
            <textarea name="description" class="form-control" rows="5"></textarea>
        </div>

        <button class="btn btn-primary">დამატება</button>
    </form>
</div>
{% endblock %}