{% extends "base.html" %}
{% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<section class="hero-banner">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>აღმოაჩინე ახალი,მაღალრეიტინგული ფილმები!</h1>
        <p>
            შეინახე სანახავი ფილმები, დაწერე მიმოხილვები და იმოგზაურე კინოსამყაროში Movieverse-თან ერთად
        </p>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.add_movie') }}" class="btn btn-accent btn-lg">
                ფილმის დამატება
            </a>
        {% else %}
            <a href="{{ url_for('main.register') }}" class="btn btn-accent btn-lg">
                Movieverse-ზე გაწევრიანება
            </a>
        {% endif %}
    </div>
</section>


<div class="home-section">
  <h2>ახლად დამატებული ფილმები:</h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for movie in new_movies %}
      <div class="swiper-slide">
        <div class="movie-slide">
          <a href="{{ url_for('main.movie_detail', movie_id=movie.id)}}">
          <img src="{{ movie.poster }}" alt="{{ movie.title }}">
          <div class="movie-info">
            <div class="movie-title">{{ movie.title }}</div>
            <div class="movie-genre">{{ movie.genre }}</div>
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<section class="home-section">
    <h4 class="section-title">ახლად დამატებული მიმოხილვები</h4>

    <div class="reviews-slider-wrapper">


        <div class="reviews-slider" id="reviewsSlider">
            {% for review in latest_reviews %}
            <div class="review-slide">
                <a href="{{ url_for('main.movie_detail', movie_id=review.movie.id) }}">

                    <img
                        src="{{ review.movie.poster }}"
                        alt="{{ review.movie.title }}"
                        class="review-poster"
                    >

                    <div class="review-content">
                        <div class="review-movie-title">
                            {{ review.movie.title }}
                        </div>

                        <div class="review-meta">
                            <span class="review-author">
                                {{ review.user.username }}
                            </span>

                            <div class="star-rating">
                                {% for i in range(1,6) %}
                                    <span class="star {% if i <= review.rating %}filled{% endif %}">
                                        ★
                                    </span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="review-text">
                            {{ review.text[:90] }}{% if review.text|length > 90 %}...{% endif %}
                        </div>
                    </div>

                </a>
            </div>
            {% endfor %}
        </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

</div>
</section>




<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% endblock %}

