{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <h2 class="mb-4">              </h2>
         <h2 class="mb-4">შესვლა</h2>
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">მომხმარებელი</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">პაროლი</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-outline-light w-100">შესვლა</button>
        </form>
        <p class="mt-2">არ გაქვთ ანგარიში? <a href="{{ url_for('main.register') }}">რეგისტრაცია</a></p>
    </div>
</div>

{% endblock %}