{% extends "base.html" %}
{% block content %}

<div class="movie-detail-page container py-5">

    <div class="row">

{% if current_user.is_authenticated and current_user.is_admin %}
<form method="POST"
      action="{{ url_for('main.delete_movie', movie_id=movie.id) }}"
      onsubmit="return confirm('ნამდვილად გსურთ წაშლა?');">
    <button class="btn btn-danger btn-sm mt-2">
        წაშლა
    </button>
</form>
{% endif %}
        <div class="col-md-4">
            <img src="{{ movie.poster }}" class="img-fluid rounded">
        </div>

        <div class="col-md-8">
            <h1>{{ movie.title }}</h1>

            <p class="text-muted">
                ჟანრი: {{ movie.genre }}
            </p>

            {% if movie.description %}
                <p>{{ movie.description }}</p>
            {% endif %}

            {% if current_user.is_authenticated %}
               <a href="{{ url_for('main.add_review', movie_id=movie.id) }}" class="btn btn-accent mb-3">მიმოხილვის დამატება</a>
            {% else %}
                <p class="text-muted">
                    მიმოხილვის დასაწერად გაიარე ავტორიზაცია
                </p>
            {% endif %}
            {% if current_user.is_authenticated %}
            {% if in_watchlist %}
               <form action="{{ url_for('main.remove_from_watchlist', movie_id=movie.id) }}" method="POST">
                   <button type="submit" class="btn btn-danger mb-3">
                       წაშლა სანახავიდან
                   </button>
               </form>
            {% else %}
            <form action="{{ url_for('main.add_to_watchlist', movie_id=movie.id) }}" method="POST">
                <button type="submit" class="btn btn-accent mb-3">
                    დამატება სანახავში
                </button>
            </form>
             {% endif %}
             {% endif %}

            <hr class="my-4">
<h3>მიმოხილვები:</h3>
<div class="reviews-container">
  {% if movie.reviews %}
    {% for review in reviews %}
  <div class="review-card">
    <div class="review-header">
        <span class="review-user">{{ review.user.username }}</span>
        <span class="review-rating">{{ review.rating }} ⭐</span>
    </div>
    <p class="review-text">{{ review.text }}</p>

    {% if current_user.is_authenticated and (current_user.is_admin or review.user_id == current_user.id) %}
    <form action="{{ url_for('main.delete_review', review_id=review.id) }}" method="POST" class="delete-review-form">
        <button type="submit" class="btn-delete">წაშლა</button>
    </form>
    {% endif %}
</div>
{% endfor %}
{% endif %}
            </div>
        </div>
</div>








{% endblock %}